.content {
    --real-sidebar-width: calc(var(--sidebar-width) + (var(--sidebar-margin) * 2));
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--real-sidebar-width) 1fr var(--real-sidebar-width);
    align-items: center;
}

.aside {
    position: relative;
    width: 100%;
    height: 100%;
}

.aside.banner {
    display: none;
}

.content.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .aside {
        display: none;
    }
}

.main {
    --padding-top: calc(var(--nav-height) + 20px);
    padding-top: var(--padding-top);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_content {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (width <= 1150px) {
    .content {
        grid-template-columns: 100%;
        padding: 0;
    }

    .aside {
        display: none;
    }
}

@media (width <= 850px) {
    .main_content {
        padding: 0 10px;
    }
}

@media (width <= 450px) {
    .main_content {
        padding: 0 5px;
    }
}