:root {
	/* Global Variables */
	--max-width: 1200px;
	--max-content-width: 800px;

	/* Color Variables */
	--primary-color: #537178;
	--light-primary: #e1e8ed;
	--dark-primary: #27323b;
	--accent-color: #ff0000;
	--accent-color-dark: #6d2121;
	--text-color: #000000;
	--text-color-light: #333333;
	--body-background: #f7f7f7;
	--input-background: #ececec;
	--background-color: #fafafa;
	--body-complement: #a5a5a512;

	--green-color: #dbeddb;
	--red-color: #ffe2dd;
	--blue-color: #d3e5ef;
	--yellow-color: #fdecc8;
	--purple-color: #e8deee;
	--orange-color: #fadec9;
	--gray-color: #e3e2e0;
	--pink-color: #ffc0cbbf;
	--brown-color: #eee0da;
	--default-color: #e9e8e7;

	--heart-color: #111;
	--arrow-color: #111;

	/* Scrollbar Variables */
	--scrollbar-width: thin;
	--scrollbar-color: #bcbcbc #f7f7f7;

	/* Sidebar Variables */
	--sidebar-width: 300px;
	--sidebar-margin: 20px;
	--sidebar-background: #f0f0f0;
	--sidebar-border: 1px solid #dadada;
	--sidebar-border-color: #dadada;
	--sidebar-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	--sidebar-text-color: var(--text-color);

	--sidebanner-width: 300px;

	/* Button Variables */
	--button-background: #ff0000;
	--button-background-secondary: #f7f7f7;
	--button-color: #f0f0f0;
	--button-color-secondary: #ff0000;
	--back-button-color: #222;
	--close-button-color: #222;

	/* Nav Variables*/
	--nav-background: var(--body-background);
	--nav-border: 2px solid #eee;
	--nav-text-color: var(--text-color);
	--nav-height: 75px;

	/* Footer Variables */
	--footer-background: #000000;
	--footer-text-color: #ffffff;
	--footer-height: 100px;

	/* Auxiliar Variables */
	--border-color: #ccc;

	/* Notion Colors */
	--notion-gray_background_co: #7f82840a;
	--notion-gray_background: #7f82840a;
	--notion-file-link-bg: #00000000;

	/* General Colors */
	--white: #ffffff;
	--black: #000000;
}

/* Set Icon Display */
#dark_icon {
	display: none;
}

#light_icon {
	display: flex;
}

.dark-icon {
	display: none;
}

.dark {
	/* Color Variables */
	--primary-color: #83b6d6;
	--light-primary: #34495e;
	--dark-primary: #1a252f;
	--accent-color: #e74c3c;
	--accent-color-dark: #f84116;
	--text-color: #fff;
	--text-color-light: #ddd;
	--body-background: #0c0c0e;
	--input-background: #32343a;
	--background-color: #1a1b1e;
	--body-complement: #5f606312;

	--green-color: #dbeddb;
	--red-color: #ffe2dd;
	--blue-color: #d3e5ef;
	--yellow-color: #fdecc8;
	--purple-color: #e8deee;
	--orange-color: #fadec9;
	--gray-color: #e3e2e0;
	--pink-color: #ffc0cbbf;
	--brown-color: #eee0da;
	--default-color: #e9e8e7;

	--heart-color: #f84116;
	--arrow-color: #ffffff;
	--social-icon-color: #ffffff;

	/* Scrollbar Variables */
	--scrollbar-width: thin;
	--scrollbar-color: #758e9e #5f606312;

	/* Sidebar Variables */
	--sidebar-width: 300px;
	--sidebar-margin: 20px;
	--sidebar-background: #222326;
	--sidebar-border: 1px solid #0b0b0d;
	--sidebar-border-color: #ffffff;
	--sidebar-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	--sidebar-text-color: var(--text-color);

	--sidebanner-width: 300px;

	/* Button Variables */
	--button-background: #e74c3c;
	--button-background-secondary: #2d0d0f;
	--button-color: #ffffff;
	--button-color-secondary: #ffffff;
	--back-button-color: #708e9f;
	--close-button-color: #ffffff;

	/* Nav Variables*/
	--nav-background: #0c0c0e;
	--nav-border: 2px solid #151518;
	--nav-text-color: var(--text-color);
	--nav-height: 75px;

	/* Footer Variables */
	--footer-background: #151618;
	--footer-text-color: #ecf0f1;
	--footer-height: 100px;

	/* Auxiliar Variables */
	--border-color: #191a1b;

	/* Notion Colors */
	--notion-gray_background_co: #ebeced0a;
	--notion-gray_background: #ebeced0a;
	--fg-color: #ccc;
	--fg-color-0: #191a1b64;
	--notion-file-link-bg: #626d75;

	/* General Colors */
	--white: #ffffff;
	--black: #000000;

	/* Set Icon Display */
	#dark_icon {
		display: flex;
	}

	#light_icon {
		display: none;
	}

	.dark-icon {
		display: flex;
	}

	.light-icon {
		display: none;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scrollbar-width: var(--scrollbar-width);
	scrollbar-color: var(--scrollbar-color);
	font-family: sans-serif;
}

body {
	background-color: var(--body-background);
	background-attachment: fixed;
	background-image: linear-gradient(var(--body-complement) 1px, transparent 1px), linear-gradient(to right, var(--body-complement) 1px, var(--body-background) 1px);
	background-size: 125px 125px;
	color: var(--text-color);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

/* Notion Modified Classes*/
pre {
	font-family: sans-serif !important;
	background: none;
	max-width: 600px;
	border-radius: 5px;
}

.katex-display .katex-html {
	display: flex !important;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
}

.notion {
	color: var(--text-color);

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 25px;
	}

	.notion-h-title {
		font-size: 25px;
	}
}

.notion-page {
	padding: 0 10px;
}

.notion-file-info {
	width: 100%;
}

.notion-file-link {
	width: 100%;
	background-color: var(--notion-file-link-bg);
	transition: background-color 0.2s;
}

.notion-page-link {
	margin: 10px 0;
}

.notion-file-title {
	white-space: normal;
}

.notion-quote {
	font-size: medium;
	margin: 15px 0;
}

.notion-callout {
	margin: 15px 0;
}

.notion-callout-text {
	width: calc(100% - 25px);
}

.notion-asset-wrapper-image img {
	object-fit: scale-down;
}

.notion-simple-table {
	display: block;
	overflow-x: auto;
	max-width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 2px;
	margin-bottom: 10px;
}

/* Media Queries */

@media (width < 768px) {
	pre {
		max-width: 400px !important;
	}
}

@media (width < 450px) {
	pre {
		max-width: 250px !important;
	}

	.notion {
		h1 {
			font-size: 25px;
		}

		h2 {
			font-size: 20px;
		}

		.notion-h-title {
			font-size: 20px;
		}
	}

	.notion-page {
		padding: 0 5px;
	}
}