.link {
    height: 100%;
    width: 100px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 3px transparent solid;
    cursor: pointer;
    transition: all ease 0.3s;
}

.a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link.mobile {
    height: 50px;
    width: 100%;
    border-bottom: 3px solid var(--sidebar-border-color);
}

.link.active {
    border-color: var(--accent-color);
}

.link:hover {
    border-color: var(--accent-color);

}

.link .a:visited {
    color: var(--text-color);
}