.main {
    margin-top: 2rem;
    padding: 1rem;
    min-height: 100vh;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.button_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
}

@media (max-width: 500px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 425px) {
    .main {
        padding: 0.25rem;
    }
}