.header {
    position: fixed;
    height: var(--nav-height);
    width: 100%;
    margin: 0;
    padding: 0 1em;
    margin-bottom: var(--nav-height);
    background: var(--nav-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;

    animation: scrollShadow linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 100vh;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-right: 3em;
    gap: 3em;
}

@keyframes scrollShadow {
    0% {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    }

    50% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background: var(--nav-background);
    }
}