.home {
	min-height: 85vh;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.text_section {
	width: 60%;
}

.image_section {
	width: 30%;
}

.scroll_down {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 2rem;
	left: calc(50% - 25px);
	animation: scroll 3s infinite;
}

.img {
	width: 100%;
	height: 100%;
}

.img.logo {
	filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5));
}

.h1 {
	width: 100%;
	font-size: 5rem;
	font-weight: 800;
	word-spacing: 2px;
	margin-bottom: 1rem;
	text-wrap: balance;
}

.p {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.5;
	word-spacing: 2px;
	margin-bottom: 1rem;
}

.button_section {
	margin-top: 2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@media (max-width: 1024px) {
	.h1 {
		font-size: 4rem;
	}

	.p {
		font-size: 1.2rem;
	}
}

@media (max-width: 850px) {
	.home {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 3rem;
		font-size: 3rem;
	}

	.text_section {
		width: 100%;
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 1rem;
	}

	.image_section {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.button_section {
		justify-content: center;
	}

	.img.logo {
		width: 40%;
		filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
	}

	.scroll_down {
		display: none;
	}
}


@media (max-width: 425px) {
	.text_section {
		padding: 0 1rem;
	}

	.h1 {
		padding-right: 1rem;
		font-size: 13vw;
	}

	.p {
		font-size: 1rem;
	}
}