.a {
    width: fit-content;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--button-background);
    color: var(--button-color);
    transition: all 0.2s ease;
}

.a.black {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
}

.a:hover {
    cursor: pointer;
    transform: translate(2px, -2px);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
}