.a {
    width: fit-content;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--button-background);
    border: 1px solid #00000000;
    color: var(--button-color);
    transition: all 0.3s ease;
}

.a.secondary {
    background-color: var(--button-background-secondary);
    color: var(--button-color-secondary);
    border: 1px solid var(--button-background);
}

.a.black {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
}

.a:hover {
    cursor: pointer;
    transform: translateY(-3px);
}