    .item {
        width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid var(--sidebar-border-color);
        transition: all 0.3s;
    }

    .item .img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        transition: all 0.3s;
    }

    .item:hover {
        border-bottom: 2px solid var(--accent-color);
    }

    .item:hover .img {
        transform: rotate(90deg);
    }